* {
  font-family: 'Archivo', sans-serif;
}

#header-image {
  margin-top: 2%;
}

#portfolio-btn {
  width: 70%;
}

#nav-button-row>div>a {
  color: #a5a5a5;
  font-weight: 700;
}

#nav-button-row>div>a>h6 {
  font-size: 1.25rem
}

.nav-selected>h6 {
  color: black;
  text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  #burger-menu-container {
    display: block;
  }

  /* #nav-button-row {
    display: none;
  } */

  .grid-item--width2 {
    width: 90px;
  }

  #footer {
    margin-top: 10px;
  }
}

@media screen and (min-width: 480px) {
  #burger-menu-container {
    display: none;
  }
}

.gallery {
  margin: 0 auto;
}

/* clearfix */
.gallery:after {
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item--width2 {
  width: 250px;
}

.ting {
  margin-top: 20px;
}

#menu-dropdown {
  background-color: black;
  position: fixed;
  border-radius: 10px;
}

#menu-dropdown>li>a {
  color: white;
}

#menu-dropdown>li>a:focus {
  background-color: grey;
}

#social-media-links>a>i {
  color: black;
}

#instagram-carousel {
  margin-top: -80px;
  margin-bottom: -25px;
}

#footer-row {
  margin-top: 10px;
}

.social-media-sm {
  height: 24px;
}