* {
  font-family: 'Roboto-Condensed', sans-serif;
}

#header-image {
  margin-top: 2%;
}

#title-image{
  height: 100px;
}

#portfolio-btn {
  width: 70%;
}

#nav-button-row>div>a {
  color: #a5a5a5;
  font-weight: 700;
}
#nav-button-row>div>a :hover{
 color: black;
}

#nav-button-row>div>a>h6 {
  font-size: 1.25rem
}
#nav-button-row{
  margin-bottom: 10px;
}

.nav-selected>h6 {
  color: black;
  text-decoration: underline;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  #burger-menu-container {
    display: block;
  }

  /* #nav-button-row {
    display: none;
  } */

  .grid-item--width2 {
    width: 290px;
  }

  #footer {
    margin-top: 10px;
  }
}

@media screen and (min-width: 480px) {
  #burger-menu-container {
    display: none;
  }
  .grid-item--width2 {
    width: 270px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid-item--width2 {
    width: 240px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid-item--width2 {
    width: 230px;
  }
} 

.gallery {
  margin: 0 auto;
}

/* clearfix */
.gallery:after {
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.ting {
  margin-top: 20px;
}

#menu-dropdown {
  background-color: black;
  position: fixed;
  border-radius: 10px;
}

#menu-dropdown>li>a {
  color: white;
}

#menu-dropdown>li>a:focus {
  background-color: grey;
}

#social-media-links>a>i {
  color: black;
}

#instagram-carousel{
  height: 300px;
}

#footer-row {
  margin-top: 10px;
  font-size: smaller;
}

.social-media-sm {
  height: 16px;
  float: right;
  margin-left: 10px;
}

.progress{
  /* background-color: #efa2c9; */
  background-color: #6eb8f4;
}
.progress .indeterminate{
  /* background-color: #de6ca7; */
  background-color: #0832a4;
}

#contact-icons{
  font-size: -webkit-xxx-large;
}
#contact-icons > a{
  color: #000000; 
}

#contact-icons > a:hover{
  color: #b1b1b1; 
}


.material-tooltip{
  background-color: #0b42a5;
}


#shop-link >a{
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

#shop-link >a:hover{
  color:#b1b1b1;
}



